<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scihi.sys.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="cn.scihi.sys.pojo.Role">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="SYS_ID" jdbcType="VARCHAR" property="sysId" />
		<result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
		<result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
		<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
		<result column="ROLE_TYPE" jdbcType="VARCHAR" property="roleType" />
		<result column="CREATER" jdbcType="VARCHAR" property="creater" />
		<result column="CREATED" jdbcType="TIMESTAMP" property="created" />
		<result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
		<result column="MODIFIED" jdbcType="TIMESTAMP" property="modified" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="ROW_DEFAULT" jdbcType="VARCHAR" property="rowDefault" />
		<result column="ROW_VALID" jdbcType="VARCHAR" property="rowValid" />
		<result column="EXT1" jdbcType="VARCHAR" property="ext1" />
		<result column="EXT2" jdbcType="VARCHAR" property="ext2" />
		<result column="EXT3" jdbcType="VARCHAR" property="ext3" />
		<result column="ROW_VERSION" jdbcType="DECIMAL" property="rowVersion" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, SYS_ID, PARENT_ID, ROLE_CODE, ROLE_NAME, ROLE_TYPE, CREATER, CREATED, MODIFIER,
		MODIFIED, REMARK,
		ROW_DEFAULT,
		ROW_VALID, EXT1, EXT2, EXT3, ROW_VERSION
	</sql>
	<select id="selectByPrimaryKey" parameterType="cn.scihi.sys.pojo.Role"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role
		where 1 = 1
		and SYS_ID = #{sysId,jdbcType=VARCHAR}
		<![CDATA[ and ROW_VALID <> '9' ]]>
		<if test="null != id and '' != id">
			and ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="null != roleCode and '' != roleCode">
			and ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
		</if>
		<if test="null != roleName and '' != roleName">
			<choose>
				<when test="roleName.indexOf(',') != -1">
					and ROLE_NAME in (
					<foreach collection="roleName.split(',')" item="rolName" index="index" separator=",">
						#{rolName}
					</foreach>
					)
				</when>
				<otherwise>
					and ROLE_NAME = #{roleName,jdbcType=VARCHAR}
				</otherwise>
			</choose>
		</if>
		<if test="null != rowValid and '' != rowValid">
			and ROW_VALID = #{rowValid,jdbcType=VARCHAR}
		</if>
		<if test="null != rowVersion">
			and ROW_VERSION = #{rowVersion,jdbcType=DECIMAL}
		</if>
		<if test="null != keywords and '' != keywords">
			and (ROLE_CODE like '%${keywords}%'
			or ROLE_NAME like '%${keywords}%')
		</if>
		order by CREATED desc
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_page where EXT_ID = #{id,jdbcType=VARCHAR};
		delete from sys_user_role where ROLE_ID = #{id,jdbcType=VARCHAR};
		delete from sys_role_menu where ROLE_ID = #{id,jdbcType=VARCHAR};
		
		delete from sys_role where ID = #{id,jdbcType=VARCHAR} <![CDATA[ and ROW_DEFAULT <> '1' ]]>
	</delete>
	<insert id="insert" parameterType="cn.scihi.sys.pojo.Role">
		insert into sys_role (
		ID, 
		SYS_ID, 
		PARENT_ID,
		ROLE_CODE, 
		ROLE_NAME, 
		ROLE_TYPE,
		CREATER, 
		CREATED,
		MODIFIER,
		MODIFIED, 
		REMARK,
		ROW_DEFAULT,
		ROW_VALID, 
		EXT1, 
		EXT2,
		EXT3,
		ROW_VERSION)
		values
		(#{id,jdbcType=VARCHAR},
		#{sysId,jdbcType=VARCHAR},
		#{parentId,jdbcType=VARCHAR},
		#{roleCode,jdbcType=VARCHAR},
		#{roleName,jdbcType=VARCHAR},
		#{roleType,jdbcType=VARCHAR},
		#{creater,jdbcType=VARCHAR},
		#{created,jdbcType=TIMESTAMP},
		#{modifier,jdbcType=VARCHAR},
		#{modified,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR},
		#{rowDefault,jdbcType=VARCHAR},
		#{rowValid,jdbcType=VARCHAR},
		#{ext1,jdbcType=VARCHAR},
		#{ext2,jdbcType=VARCHAR},
		#{ext3,jdbcType=VARCHAR},
		#{rowVersion,jdbcType=DECIMAL})
	</insert>
	<update id="updateByPrimaryKey" parameterType="cn.scihi.sys.pojo.Role">
		update sys_role
		set
		ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
		MODIFIER = #{modifier,jdbcType=VARCHAR},
		MODIFIED = #{modified,jdbcType=TIMESTAMP},
		REMARK = #{remark,jdbcType=VARCHAR},
		ROW_VALID = #{rowValid,jdbcType=VARCHAR},
		EXT1 = #{ext1,jdbcType=VARCHAR},
		EXT2 = #{ext2,jdbcType=VARCHAR},
		EXT3 = #{ext3,jdbcType=VARCHAR},
		ROW_VERSION = #{rowVersion,jdbcType=DECIMAL}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>
</mapper>