<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scihi.mb.work.mapper.XZComplaintMapper">
	<select id="queryXZComplaint" parameterType="java.util.HashMap"
		resultType="java.util.Map">
		select
		t.id as "id",
		tt.pid as "pid",
		t.title as "title",
		t.form_code as "form_code",
		t.form_type as "form_type",
		t.finish_date as "finish_date",
		t.service_type as "service_type",
		t.service_type_name as "service_type_name",
		t.service_type_detail as "service_type_detail",
		t.service_type_detail_name as "service_type_detail_name",
		t.county as
		"county",
		o.org_name as "county_name",
		t.branch_office as
		"branch_office",
		o2.org_name as "branch_office_name",
		t.user_phone as "user_phone",
		t.client_phone as "client_phone",
		t.number as "number",
		t.user_address as "user_address",
		t.reserve_time as "reserve_time",
		t.publisher as "publisher",
		t.publish_time as "publish_time",
		t.creater as "creater",
		t.created as "created",
		t.description as "description",
		t.remark as "remark",
		t.status as "status",
		t.ext1 as "ext1",
		t.ext2 as "ext2",
		t.ext3 as "ext3",
		t.ext5 as "ext5",
		t.ext6 as "ext6",
		t.row_version as "row_version",
		t.tag_ifsuccess,
		jhp.STATE_
		from t_work_xzcomplaint t
		left join sys_org o
		on t.county = o.org_code
		left join sys_org o2
		on
		t.branch_office = o2.org_code
		left join sys_org o3
		on t.publisher =
		o3.org_code
		left join t_task tt
		on t.id = tt.form_id
		left join jbpm4_hist_procinst jhp on jhp.ID_ = tt.PID
		where 1=1
		<if test="null != id and '' != id">
			and t.id = #{id}
		</if>
		<if test="null != pid and '' != pid">
			and tt.pid = #{pid}
		</if>
		<if test="null != service_type and '' != service_type">
			and t.service_type = #{service_type}
		</if>
		<if test="null != county and '' != county">
			and t.county = #{county}
		</if>
		<if test="null != branch_office and '' != branch_office">
			and t.branch_office = #{branch_office}
		</if>
		<if test="null != user_phone and '' != user_phone">
			and t.user_phone like  concat('%',#{user_phone},'%')
		</if>
		<choose>
			<when test="null != orderStr and '' != orderStr">
				${orderStr}
			</when>
			<otherwise>
				order by t.CREATED desc
			</otherwise>
		</choose>
	</select>
	
	<select id="queryXZComplaintExt" parameterType="java.util.HashMap"
		resultType="java.util.Map">
		select
		t.id as "id",
		t.form_code as "form_code",
		t.pid as "pid",
		t.org_id as "org_id",
		t.org_name as "org_name",
		t.role_name  as "role_name",
		t.executor as "executor",
		u.user_alias as "executor_name",
		t.executor_phone as "executor_phone",
		t.status as "status",
		t.execute_time as "execute_time",
		t.opinion as "opinion",
		t.result as "result",
		t.creater as "creater",
		t.created as "created",
		t.ext1 as "ext1",
		t.ext2 as "ext2",
		t.ext3 as "ext3"
		from t_work_xzcomplaint_ext t
		left join sys_user u
		on t.executor=u.user_name
		where 1=1
		<if test="null != form_code and '' != form_code">
			and t.form_code = #{form_code}
		</if>
		<if test="null != pId and '' != pId">
			and t.pid = #{pId}
		</if>
		<if test="null != org_id and '' != org_id">
			and t.org_id = #{org_id}
		</if>
		<if test="null != executor and '' != executor">
			and t.executor = #{executor}
		</if>
		<if test="null != status and '' != status">
			and t.status = #{status}
		</if>
		<choose>
			<when test="null != orderStr and '' != orderStr">
				${orderStr}
			</when>
			<otherwise>
				order by t.CREATED desc
			</otherwise>
		</choose>
	</select>
	
	<select id="queryPartXZComplaintExt" parameterType="java.util.HashMap"
		resultType="java.util.Map">
		select
		distinct
		t.form_code as "form_code",
		t.pid as "pid",
		t.org_id as "org_id",
		t.org_name as "org_name",
		t.role_name ,
		t.executor as "executor",
		u.user_alias as "executor_name",
		t.executor_phone as "executor_phone",
		t.ext1,
		t.ext2,
		t.ext3
		from t_work_xzcomplaint_ext t
		left join sys_user u
		on t.executor=u.user_name
		where 1=1
		<if test="null != form_code and '' != form_code">
			and t.form_code = #{form_code}
		</if>
		<if test="null != pId and '' != pId">
			and t.pid = #{pId}
		</if>
		<if test="null != status and '' != status">
			and t.status = #{status}
		</if>
		order by t.CREATED desc
	</select>
	
	<select id="queryIfFinished"  parameterType="java.util.HashMap"
		resultType="java.util.Map">
		select count(1) as "num"
		 from t_work_xzcomplaint t
		where 
		t.ext5=t.ext6
		and t.ext5 is not null
		<if test="null != id and '' != id">
			and t.id = #{id}
		</if>
	</select>
	
	<select id="queryRoleByOrg"  parameterType="java.util.HashMap"
		resultType="java.util.Map">
		select DISTINCT r.role_name,
		r.id as 'role_id',
		CONCAT(r.sys_id,'.',r.role_name) as 'roleName_'
		from 
			sys_user u
			left join sys_user_role ur
			on u.id=ur.USER_ID
			left join sys_role r
			on ur.ROLE_ID=r.ID
			where u.ORG_ID=#{orgId}
			and u.user_name !=#{userName}
			and u.row_valid='1'
			and r.role_name !='绵阳渠道支撑服务平台管理员'
			and r.row_valid='1'
	</select>
	
	<select id="queryUserByOrg"  parameterType="java.util.HashMap"
		resultType="java.util.Map">
		select u.user_name as user_name,
		u.user_alias as user_alias,
		group_concat(r.role_name) as role_name 
		from sys_user u
		left join sys_user_role ur
		on u.id=ur.user_id
		left join sys_role r
		on ur.role_id=r.id
		where u.row_valid = '1'
		and u.org_id=#{orgId}
		group by u.user_name,u.user_alias

	</select>
	
	<select id="queryNoUserOrg"  parameterType="java.util.HashMap"
		resultType="java.util.Map">
		select DISTINCT o.id,o.org_name
		from sys_org o
		where 1=1
		and o.ORG_TYPE = '5'
		AND o.ext1 = 'MY'
		<if test="null != orgIds and '' != orgIds">
			and o.id in
			<foreach collection="orgIds" item="orgId" index="index" open="(" close=")" separator=",">
				#{orgId}
			</foreach>
		</if>
		and o.id not in( 
		SELECT DISTINCT
				o.id
				FROM
					sys_org o
				LEFT JOIN sys_user u ON u.ORG_ID = o.ID
				LEFT JOIN sys_user_role ur ON u.id = ur.USER_ID
				LEFT JOIN sys_role r ON ur.ROLE_ID = r.ID
				WHERE
					o.ORG_TYPE = '5'
				AND o.ext1 = 'MY'
				AND r.ROLE_NAME = '渠道班长'
		) 
	</select>
	
	<select id="queryQDUsers"  parameterType="java.util.HashMap"
		resultType="java.util.Map">
		SELECT
		u.org_id,
		o.org_name,
		u.user_name as "users"
<!-- 			GROUP_CONCAT(u.user_name) as "users" -->
		FROM
			sys_user u
		LEFT JOIN sys_org o ON u.ORG_ID = o.ID
		LEFT JOIN sys_user_role ur ON u.id = ur.USER_ID
		LEFT JOIN sys_role r ON ur.ROLE_ID = r.ID
		WHERE
			o.ORG_TYPE = '5'
		AND o.ext1 = 'MY'
		AND r.ROLE_NAME = '渠道班长'
		<if test="null != orgIds and '' != orgIds">
			and u.org_id in
			<foreach collection="orgIds" item="orgId" index="index" open="(" close=")" separator=",">
				#{orgId}
			</foreach>
		</if>
<!-- 		GROUP BY -->
<!-- 		u.org_id,o.org_name -->
	</select>

	<insert id="insertXZComplaint" parameterType="java.util.HashMap">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			select
			uuid()
		</selectKey>
		
		insert into
		t_work_xzcomplaint(id,title,form_code,form_type,service_type,service_type_name,county,branch_office,publisher,publish_time,user_phone,client_phone, number, user_address, reserve_time,channel_phone,finish_date,creater,created,row_version,status,remark,description,enterprise_flag,ext2,ext3,ext5)
		values(#{id},#{title},#{form_code},#{form_type},#{service_type},#{service_type_name},#{county},#{branch_office},#{publisher},#{publish_time},#{user_phone},#{client_phone},#{number},#{user_address},#{reserve_time},#{user_phone},#{finish_date},#{userName},now(),#{row_version},#{status},#{remark},#{description},#{enterprise_flag},#{ext2},#{ext3},#{ext5})
	</insert>
	
	<insert id="insertXZComplaintExt" parameterType="java.util.HashMap">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="id">
			select
			uuid()
		</selectKey>
		
		insert into
		t_work_xzcomplaint_ext(id,form_code,pid,org_id,org_name,role_name,executor,creater,created,ext1)
		values(#{id},#{form_code},#{pId},#{org_id},#{org_name},#{role_name},#{executor},#{userName},now(),#{ext1})
	</insert>

	<update id="updateXZComplaint" parameterType="java.util.HashMap">
		update t_work_xzcomplaint set
		<if test="null != title and '' != title">
			title=#{title},
		</if>
		<if test="null != service_type and '' != service_type">
			service_type=#{service_type},
		</if>
		<if test="null != service_type_detail and '' != service_type_detail">
			service_type_detail=#{service_type_detail},
		</if>
		<if test="null != service_type_detail_name and '' != service_type_detail_name">
			service_type_detail_name=#{service_type_detail_name},
		</if>
		<if test="null != service_type_name and '' != service_type_name">
			service_type_name=#{service_type_name},
		</if>
		<if test="null != user_phone and '' != user_phone">
			user_phone=#{user_phone},
		</if>
		<if test="null != client_phone and '' != client_phone">
			client_phone=#{client_phone},
		</if>
		<if test="null != number and '' != number">
			number=#{number},
		</if>
		<if test="null != user_address and '' != user_address">
			user_address=#{user_address},
		</if>
		<if test="null != reserve_time and '' != reserve_time">
			reserve_time=#{reserve_time},
		</if>
		<if test="null != finish_date and '' != finish_date">
			finish_date=#{finish_date},
		</if>
		<if test="null != description and '' != description">
			description=#{description},
		</if>
		<if test="null != remark and '' != remark">
			remark=#{remark},
		</if>
		<if test="null != status and '' != status">
			status=#{status},
		</if>
		<if test="null != ext1 and '' != ext1">
			ext1=#{ext1},
		</if>
		<if test="null != ext2 and '' != ext2">
			ext2=#{ext2},
		</if>
		<if test="null != ext3 and '' != ext3">
			ext3=#{ext3},
		</if>
		<if test="null != ext5 and '' != ext5">
			ext5=#{ext5},
		</if>
		<if test="null != ext6 and '' != ext6">
			ext6=ext6+1,
		</if>
		<if test="null != row_version and '' != row_version">
			row_version#{row_version},
		</if>
		<if test="null != tag_ifsuccess and '' != tag_ifsuccess">
			tag_ifsuccess=#{tag_ifsuccess},
		</if>
		modifier=#{userName},
		modified=now()
		where id=#{id}
	</update>
	
	<update id="updateXZComplaintExt" parameterType="java.util.HashMap">
		update t_work_xzcomplaint_ext set
		<if test="null != executor and '' != executor">
			executor=#{userName},
			execute_time=now(),
		</if>
		<if test="null != status and '' != status">
			status=#{status},
		</if>
		<if test="null != executor_phone and '' != executor_phone">
			executor_phone=#{executor_phone},
		</if>
		<if test="null != opinion and '' != opinion">
			opinion=#{opinion},
		</if>
		<if test="null != result and '' != result">
			result=#{result},
		</if>
		modified = now()
		where id=#{id}
	</update>

	<delete id="deleteXZComplaint" parameterType="java.lang.String">
		delete from
		t_work_xzcomplaint
		where
		id=#{id}
	</delete>

	<delete id="deleteOtherTasks" parameterType="java.lang.String">
		delete  FROM
		jbpm4_task t
		where t.EXECUTION_ID_=#{pId}
		and t.ASSIGNEE_ !=#{userName}
		and t.SUPERTASK_ is not null
	</delete>
</mapper>